.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 95vw;
    height: 100vh;
    z-index: 5;
    /* visibility: hidden; */
}

.blob {
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    background-color: #f2f5d5;
    animation: blob 700ms cubic-bezier(0.33, 1, 0.68, 1) 0s infinite alternate forwards;
}

@keyframes blob {
	0% {
		transform: scale(0);
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}