@font-face {
  font-family: 'Tofino';
  src: url('/font/Tofino-BlackPersonal.otf');
}
@font-face {
  font-family: 'Paloseco';
  src: url('/font/Paloseco-Light.ttf');
}
@font-face {
  font-family: 'Anonymous Pro';
  src: url('/font/Anonymous_Pro_B.ttf');
}

html {
  font-size: 12px;
  background-color: #121210;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Anonymous Pro', Consolas, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #f2f5d5;
}

p {
  font-family: 'Paloseco', Roboto, sans-serif;
  line-height: 2.2rem;
  font-size: 1.7rem;
}
ul {
  font-family: 'Anonymous Pro', Consolas, monospace;
}
h1, h2 {
  font-family: 'Tofino', Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #d1a366;
}

* {
  box-sizing: border-box;
}
